{TOPNAV}
<main>
<section id="content">
	<div class="container">		
		<div class="row">
			<div class="col s12">	
				<div class="input-field inline col s6">
					<input name="filter_title" type="text" placeholder="{__SEARCH_AUDIT_PROGRAM__}"> 
				</div>
				<div class="input-field inline col s2">
					<select name="filter_unit">
						<option value="">Unit</option>
					</select>
				</div>
				<div class="input-field inline col s2">
					<select name="sort">
						<option value="">Sort</option>
					</select>
				</div>
				<div class="input-field inline col s2">
					<a href="{URL_CREATE_NEW}" class="btn btn-success">{__CREATE_NEW__}</a>
				</div>
			</div>
		</div>
		<div id="auditProgramList">
			
		</div>
		
	</div>
</section>

<div class="fixed-action-btn">
  <a class="btn-floating btn-large red">
    <i class="large material-icons">mode_edit</i>
  </a>
  <ul>
    <li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a></li>
    <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
    <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
    <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
  </ul>
</div>
      
</main>
<script type="text/javascript">
M.AutoInit();
$('document').ready(function() {
	var url = '{LIST_URL}';
	var dataString  = "{unit:1,total:8,start:1,sort_by:1,sort_type:'asc'}";
		$.ajax({
			type: 'get',
			url: url,
			data: dataString,
			dataType: 'json',
			beforeSend: function() {
				$('#ajax_loading').addClass('scale-in');
			},
			success: function(data) {
				if (data.status == "0") {				
					M.toast({html:data.message});
					$('#ajax_loading').removeClass('scale-in');	
				}
				if (data.status == "1") {
					if(data.content==''){
					$('#auditProgramList').append(
						'<div class="row"><div class="col s6 valign-wrapper"><blockquote>Sorry, no record found in database. Please create one</blockquote></div></div>'
						);
					}
					$(data.content).each(function(i,v){
						if(v['visibility']=='public'){
						visibility = '<i class="material-icons small">visibility</i>Public';
						}
						else {
						visibility = '<i class="material-icons small">visibility_off</i>Private';
						}
						$('#auditProgramList').append(
								'<div class="row">'+
									'<div class="col s12">'+
											'<div class="col s12"><a href="{LINK_DETAIL}'+v['id']+'"><h5>'+v['audit_program_title']+'</h5></a></div>'+
											'<div class="col s12 "><i>'+v['description']+'</i></div>'+
											'<div class="col s12 valign-wrapper"> '+visibility+' <i class="material-icons">person</i></div>'+
											'<div class="col s12 ">'+									
												'<a href="{__HOMEPAGE__}/audit_program/references/pid/'+v['id']+'"><span class="blue lighten-4 badge">'+v['reference_count']+' References</span></a>'+			
												'<a href="{__HOMEPAGE__}/audit_program/testing_steps/pid/'+v['id']+'"><span class="purple lighten-4 badge">0 Testing Steps</span></a>'+
												'<a href="{__HOMEPAGE__}/audit_program/controls/pid/'+v['id']+'"><span class="green lighten-4 badge">0 Controls</span></a>'+
												'<a href="{__HOMEPAGE__}/audit_program/risks/pid/'+v['id']+'"><span class="yellow badge">0 Risks</span></a>'+
												'<a href="{__HOMEPAGE__}/audit_program/processes/pid/'+v['id']+'"><span class="orange lighten-3 badge">'+v['process_count']+' Business Processes</span></a>'+
											
											'</div>'+
									'</div>'+
								'</div>'+
								'<div class="divider"></div>'
						);
					});				
				}
				if (data.status == "2") {
					M.toast({html:data.message});
					$('#ajax_loading').removeClass('scale-in');				
				}
			},
			complete: function() {
				$('#ajax_loading').removeClass('scale-in');
			},
			error: function (jqXHR, textStatus, errorThrown) {
				var lastRefreshed = new Date();
				var str = lastRefreshed.toString() +"\n\n"+errorThrown;
				$('.ajax_loading').hide();
			}
		});
		return false;
	});
</script>