{TOPNAV}
<main>
<section id="content">	
<div class ="container">
	<div class="row">
		<div class="col s12 m12 l12"">&nbsp;</div>
	
		<div id="auditProcessesList" class="col s12 m8 l8">		
				<div class="s12">
					<div class="col s3">Audit Program Title</div>
					<div class="col s9">: {AUDIT_PROGRAM_TITLE}</div>
				</div>
				<div class="s12 m8">
					<div class="col s3">Description</div>
					<div class="col s9">: {AUDIT_PROGRAM_DESCRIPTION}</div>
				</div>
		</div>
		<div class="col s12 m4 l4">
			<a href="{__HOMEPAGE__}/audit_program/" data-position="top" data-tooltip="Back to program list" class="tooltipped blue waves-effect waves-light btn-small btn-floating"><i class="material-icons">arrow_back</i></a>
			<a href="#" data-position="top" data-tooltip="Add New Process" data-target="new-process-modal" class="modal-trigger tooltipped red waves-effect waves-light btn-small btn-floating"><i class="material-icons">add</i></a>
			
		</div>
	</div>
	<div class="row">
		<table class="striped responsive-table">
			<thead>
				<tr>
					<th>Business Process</th>
					<th>Created By</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody id="auditProcessList">
			
			</tbody>
		</table>
	</div>
</div>
</section>
</main>

<!-- New Process Modal-->
<div class="modal" id="new-process-modal">
{NEW_PROCESS_MODAL}
</div>
<div class="modal" id="edit-process-modal">

</div>
<div class="modal" id="delete-process-modal">

</div>
<script type="text/javascript">
M.AutoInit();
$('select').formSelect();
function closeModal(){
$('.modal').modal('close');
}
function _editProcess(id){
	var url = '{URL_EDIT_PROCESS}';
	$('#edit-process-modal').modal('open');
	$.get(url+'/id/'+id,function(result){
		$('#edit-process-modal').html(result);
	});
}
function _deleteProcess(id){
	var url = '{URL_DELETE_PROCESS}';
	$('#delete-process-modal').modal('open');
	$.get(url+'/id/'+id,function(result){
		$('#delete-process-modal').html(result);
	});
}
function submitDeleteProcess(i){
var url = '{URL_SUBMIT_DELETE_PROCESS}';
$.ajax({
		type	: 'get',
		url		: url,
		data	: {'id':i},
		dataType: 'json',
		beforeSend: function(){
			$('#ajax_loading').addClass('scale-in');
		},
		success	: function(res){
			if(res.status == "0"){
				M.toast({html:res.message});
				$('#ajax_loading').removeClass('scale-in');
				$('#delete-process-modal').close();
			}
			if(res.status == "1"){
				M.toast({html:res.message});
				$('#delete-process-modal').modal('close');
			}
		},
		complete: function(){
			$('#ajax_loading').removeClass('scale-in');
		},
		error: function(jqXHR, textStatus, errorThrown){
			var lastRefreshed = new Date();
			var str = lastRefreshed.toString() +"\n\n"+errorThrown;
			$('#ajax_loading').hide();
		}
	});
}
function submitEditProcess(){
	var url = '{URL_SUBMIT_EDIT_PROCESS}';
	var formEdit = $('#form-edit-process');
	$.ajax({
		type	: 'post',
		url		: url,
		data	: $(formEdit).serialize(),
		dataType: 'json',
		beforeSend: function(){
			$('#ajax_loading').addClass('scale-in');
		},
		success	: function(res){
			if(res.status == "0"){
				M.toast({html:res.message});
				$('#ajax_loading').removeClass('scale-in');
				$('#edit-process-modal').close();
			}
			if(res.status == "1"){
				M.toast({html:res.message});
				$('#edit-process-modal').modal('close');
			}
		},
		complete: function(){
			$('#ajax_loading').removeClass('scale-in');
		},
		error: function(jqXHR, textStatus, errorThrown){
			var lastRefreshed = new Date();
			var str = lastRefreshed.toString() +"\n\n"+errorThrown;
			$('#ajax_loading').hide();
		}
	});
}
$('document').ready(function() {
	$('.dropdown-trigger').dropdown();
	
	$('.modal').modal({
		onCloseEnd: function(){
		    location.reload();
		}
	});
	var url = '{LIST_URL}';
	var dataString  = {pid:{PID}};
		$.ajax({
			type: 'post',
			url: url,
			data: dataString,
			dataType: 'json',
			beforeSend: function() {
				$('#ajax_loading').addClass('scale-in');
			},
			success: function(data) {
				if (data.status == "0") {				
					M.toast({html:data.message});
					$('#ajax_loading').removeClass('scale-in');	
				}
				if (data.status == "1") {
					$(data.content).each(function(i,v){
						$('#auditProcessList').append(
							'<tr>'+
								'<td><b>'+v['code']+': '+v['process_name']+'</b><br><i>'+v['description']+'<br>'+v['reference']+'</i></td>'+
								'<td>'+v['username']+'</td>'+
								'<td>'+
									'<a href="#" onClick="_editProcess('+v['id']+')" class="btn-small waves-effect waves-light"><i class="material-icons left">edit</i>Edit</a> '+
									'<a href="#" onClick="_deleteProcess('+v['id']+')" class="btn-small waves-effect waves-light red lighten-3"><i class="material-icons left">clear</i>Delete</a>'+
									'</td>'+
							'</tr>'
						);
					});				
				}
				if (data.status == "2") {
					M.toast({html:data.message});
					$('#ajax_loading').removeClass('scale-in');				
				}
			},
			complete: function() {
				$('#ajax_loading').removeClass('scale-in');
			},
			error: function (jqXHR, textStatus, errorThrown) {
				var lastRefreshed = new Date();
				var str = lastRefreshed.toString() +"\n\n"+errorThrown;
				$('.ajax_loading').hide();
			}
		});
		return false;
	});

$('#form-new-process').submit(function(e){
	e.preventDefault();
	var url = $(this).attr('action');
	$.ajax({
		type	: 'post',
		url		: url,
		data	: $(this).serialize(),
		dataType: 'json',
		beforeSend: function(){
			$('#ajax_loading').addClass('scale-in');
		},
		success	: function(res){
			if(res.status == "0"){
				M.toast({html:res.message});
				$('#ajax_loading').removeClass('scale-in');
				$('.modal').close();
			}
			if(res.status == "1"){
				M.toast({html:res.message});
				$('.modal').modal('close');
			}
		},
		complete: function(){
			$('#ajax_loading').removeClass('scale-in');
		},
		error: function(jqXHR, textStatus, errorThrown){
			var lastRefreshed = new Date();
			var str = lastRefreshed.toString() +"\n\n"+errorThrown;
			$('#ajax_loading').hide();
		}
	});
});


</script>