<header>
<ul id="dropdownProfile" class="dropdown-content">
  <li><a href="#!">Your profile</a></li>
  <li><a href="#!">Settings</a></li>
  <li><a href="#!">Help</a></li>
  <li class="divider"></li>
  <li><a href="{__HOMEPAGE__}/logout/">Logout</a></li>
</ul>
<div class="navbar-fixed">
<nav>
    <div class="nav-wrapper">
      <div class="logo"><a href="{__HOMEPAGE__}" class="brand-logo">{__TITLE__}</a></div>
      <ul class="right">
        <li><input name="search" class="input-field autocomplete" placeholder="search"></li>
        <li><a href="">Home</a></li>
        <li><a href="">Audit Plan</a></li>
        <li><a href="">Fieldwork</a></li>
        <li><a href="">Report</a></li>
        <li><a href="">Follow Up</a></li>
		<li><a class="dropdown-trigger" href="#!" data-target="dropdownProfile">Login As {USERNAME}!<i class="material-icons right">arrow_drop_down</i></a></li>
      </ul>
    </div>
 </nav>
</div>
  <div class="sidenav sidenav-fixed padding">
    <div class="col s12 center">
		{__PHOTO__}
		<h4>{__FULLNAME__}</h4>
		{__JOBTITLE__}
	</div>
	<div class="divider"></div>
	<div class="row">
		<div class="col s12 left">
			<h5>{__RECENT_AUDIT__} <a href="{__HOMEPAGE__}/audit_program/create" data-position="top" data-tooltip="{__CREATE_NEW_PROGRAM__}" class="tooltipped waves-effect waves-light btn-small btn-floating right"><i class="material-icons">add</i></a></h5>
	
 
			<ul class="collection">
				<li class="collection-item">GA - Audit 1</li>
				<li class="collection-item">GA - Audit 2</li>
				<li class="collection-item">GA - Audit 3</li>
			</ul>
		</div>
	</div>
  </div>

</header>
<main>
<section id="content">
	<div class="mid-container">
		<div class="col s12 m6 l3">
			<ul class="tabs">
				<li class="tab"><a class="active" href="#recentUpdate">{__RECENT_UPDATE__}</a></li>
				<li class="tab"><a href="#yourTask">{__YOUR_TASK__}</a></li>
			</ul>
		</div>
		<div id="recentUpdate" class="col s12">
			<div class="row">
					<div class="col s12">
						 <strong>Welcome to the new feed!</strong><br>
We’re updating the cards and ranking all the time, so check back regularly. At first, you might need to follow some people or star some repositories to get started. 
					</div>
			</div>
		</div>
		<div id="yourTask" class="col s12">
		
		</div>		
	</div>
</section>

</main>
<script type="text/javascript">
M.AutoInit();
</script>