<div class="sidebar" id="sidebar">
			<ul class="nav-list">
					<li class="active">
						<a href="home">
							<i class="ioc-icon-dashboard"></i>
							<span class="menu-text"> Dashboard </span>
						</a>
					</li>
					<li>
						<a href="#" class="dropdown-toggle">
							<i class="icon-desktop"></i>
							<span class="menu-text"> Master Data </span>
							<b class="arrow icon-angle-down"></b>
						</a>
						<ul class="submenu">
							<li>
								<a href="master/barang">
									<i class="icon-double-angle-right"></i>
									Master produk
								</a>
							</li>

							<li>
								<a href="master/produsen">
									<i class="icon-double-angle-right"></i>
									Master produsen
								</a>
							</li>
									
						</ul>
					</li>

					<li>
						<a href="#" class="dropdown-toggle">
							<i class="icon-calendar"></i>

							<span class="menu-text">Transaksi</span>
							<b class="arrow icon-angle-down"></b>
						</a>
						<ul class="submenu">
							<li>
								<a href="profile.html">
									<i class="icon-double-angle-right"></i>
									Pembelian
								</a>
							</li>
							<li>
								<a href="profile.html">
									<i class="icon-double-angle-right"></i>
									Penjualan
								</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="#" class="dropdown-toggle">
							<i class="icon-edit"></i>
							<span class="menu-text"> Laporan </span>

							<b class="arrow icon-angle-down"></b>
						</a>

						<ul class="submenu">
							<li>
								<a href="form-elements.html">
									<i class="icon-double-angle-right"></i>
									Laporan pembelian
								</a>
							</li>

							<li>
								<a href="form-wizard.html">
									<i class="icon-double-angle-right"></i>
									Laporan penjualan
								</a>
							</li>

							<li>
								<a href="wysiwyg.html">
									<i class="icon-double-angle-right"></i>
									Laporan akhir
								</a>
							</li>
						</ul>
					</li>

					<li>
						<a href="widgets.html">
							<i class="icon-list-alt"></i>
							<span class="menu-text"> Stok Inventory </span>
						</a>
					</li>


					<li>
						<a href="#" class="dropdown-toggle">
							<i class="icon-tag"></i>
							<span class="menu-text"> Setting </span>

							<b class="arrow icon-angle-down"></b>
						</a>

						<ul class="submenu">
							<li>
								<a href="profile.html">
									<i class="icon-double-angle-right"></i>
									User Profile
								</a>
							</li>

							<li>
								<a href="pricing.html">
									<i class="icon-double-angle-right"></i>
									Pricing Tables
								</a>
							</li>

							<li>
								<a href="invoice.html">
									<i class="icon-double-angle-right"></i>
									Invoice
								</a>
							</li>

							<li>
								<a href="login.html">
									<i class="icon-double-angle-right"></i>
									Login &amp; Register
								</a>
							</li>
						</ul>
					</li>					
				</ul>

				<div class="sidebar-collapse" id="sidebar-collapse">
					<i class="icon-double-angle-left"></i>
				</div>
			</div>