<div class="container">
	<div class="section">
		<div class="row">
			<div class="col s10"><h5>{__APP_NAME__}</h5></div>
			<div class="col s2">{__APP_VERSION__}</div>
		</div>
		<div class="divider"></div>

		<div id="basic-form" class="section">
			<div class="row">
				
				<div class="col s12 m4"></div>
				<div class="col s12 m4 scale-transition scale-in" id="dformLogin">
					<div class="card-panel">
						<div class="row">
						<form class="form" role="form" autocomplete="off" id="formLogin" novalidate="true" method="POST">
								<div class="input-field">
									<i class="material-icons prefix">account_circle</i>
									<label for="user_id">{__USERID__}</label>
									<input type="text" class="validate" name="user_id" id="user_id" required="required" autocomplete="off">

								</div>
								<div class="input-field">
									<i class="material-icons prefix">lock_outline</i>`
									<label for="password">{__PASSWORD__}</label>
									<input type="password" name="password" class="validate" id="password" required="" autocomplete="off" required="required">

								</div>
							
								<div>
									<input id="remember"  type="checkbox" >
									<label for="remember">
										{__REMEMBER__}
									</label>
								</div>
								<button type="submit" class="btn waves-effect waves-light right" id="btnLogin">
									<i class="material-icons right">lock_open</i> {__LOGIN__}</button>
							</form>
						</div>
					</div>
				</div>				
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
$('#formLogin').submit(function() {
	var url = '{__FORM_URL__}';
	var redirect	= '{__HOMEPAGE__}';
	var dataString  = $(this).serialize();
	  M.AutoInit();
		$.ajax({
			type: 'post',
			url: url,
			data: dataString,
			dataType: 'json',
			beforeSend: function() {
				$('#ajax_loading').addClass('scale-in');
			},
			success: function(data) {
				if (data.status == "0") {				
					M.toast({html:data.message});
					$('#ajax_loading').removeClass('scale-in');	
				}
				if (data.status == "1") {
					$('#user_id').attr('disabled','disabled');
					$('#user_password').attr('disabled','disabled');
					$('#btnLogin').addClass('disabled');
					window.location = redirect;
									
				}
				if (data.status == "2") {
					M.toast({html:data.message});
					$('#ajax_loading').removeClass('scale-in');
					$('#dformLogin').removeClass('scale-in');
					$('#dformLogin').hide();					
				}
			},
			complete: function() {
				$('#ajax_loading').removeClass('scale-in');
			},
			error: function (jqXHR, textStatus, errorThrown) {
				var lastRefreshed = new Date();
				var str = lastRefreshed.toString() +"\n\n"+errorThrown;
				$('.ajax_loading').hide();
				$('#validation-error').html(str);
			}
		});
		return false;
	});
</script>