{TOPNAV}
<main>
<section id="content">
	<div class="container">
		<form class="form" id="formNewAuditProject" method="post" action="">
		<div class="col s12">
			<h5>{__CREATE_NEW_PROJECT__}</h5>
		</div>
		<div class="col s12">
			{__CREATE_NEW_PROJECT_DESCRIPTION__}
		</div>
		<div class="divider"></div>
		<div class="row">
			<div class="input-field col s12"></div>
			<div class="input-field col s2">
					<select  name="year" id="year">
					  <option value="" disabled selected>Select Year</option>
						{YEAR_OPTION}
					</select>
					<label for="year">{__YEAR__}</label></div>
			<div class="input-field col s3">
					<select  name="unit" id="unit">
					  <option value="" disabled selected>Choose your unit</option>
						{UNIT_OPTION}
					</select>
					<label for="unit">{__UNIT_NAME__}</label>		
					<span data-tooltip="{__CREATE_NEW_UNIT__}" data-position="right" class="btn waves-effect waves-light new badge tooltipped modal-trigger" data-target="modal-create-unit">+</span>					
			</div>
			<div class="input-field col s7">
			 <input placeholder="{__AUDIT_PROJECT_TITLE__}" type="text" name="audit_program_title" id="audit_program_title">
			 <label for="äudit_program_title">{__AUDIT_PROJECT_TITLE__}</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<input placeholder="{__DESCRIPTION__}" type="text" name="audit_program_description" id="audit_program_description">
				<label for="audit_program_description">{__DESCRIPTION__} ({__OPTIONAL__})</label>
			</div>
		</div>
		<div class="divider"></div>
		<div class="row">
			<div class="col s12">
				<p>Audit Type<br>
				  <label>
					<input name="audit_type" type="radio" value="GA" checked />
					<span>General Audit</span>
				  </label>
				</p>
				<p>
				  <label>
					<input name="audit_type" type="radio" value="SA" />
					<span>Special Audit/Investigation Audit</span>
				  </label>
				</p>
			</div>
		</div>
		<div class="divider"></div>
		<div class="row">
			<div class="s12">Audit Period</div>
			<div class="col s12 m4 l4">
				<input class="datepicker" placeholder="{__AUDIT_PERIOD_START__}" type="text" name="audit_period_start" id="audit_period_start">
				<label for="audit_period_start">{__AUDIT_PERIOD_START__} </label>
			</div>
			<div class="col s12 m4 l4">
				<input class="datepicker" placeholder="{__AUDIT_PERIOD_START__}" type="text" name="audit_period_start" id="audit_period_start">
				<label for="audit_period_start">{__AUDIT_PERIOD_START__} </label>
			</div>
		</div>
		<div class="row">
			<button class="btn waves-effect waves-light right" type="submit" name="btn_create" id="btn_create">{__CREATE_NEW_PROJECT__}
			<i class="material-icons right">send</i>
			</button>
		</div>
		</form>
	</div>

</section>
</main>
<div id="modal-create-unit" class="modal">
	<div class="modal-content">
		<h5>{__CREATE_NEW_UNIT__}</h5>
		<form action="#" class="s12" name="new-unit">
			<div class="s12">
				<input class="input-field" type="text" name="unit_name">
				<label for="unit_name">{__UNIT_NAME__}</label>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<a class="btn btn-xs">Save</a>
	</div>
</div>
<script type="text/javascript">
M.AutoInit();
$('#formNewAuditProject').submit(function() {
	var url = '{FORM_URL}';
	var redirect	= '{SUCCESS_REDIRECT}';
	var dataString  = $(this).serialize();
		$.ajax({
			type: 'post',
			url: url,
			data: dataString,
			dataType: 'json',
			beforeSend: function() {
				$('#ajax_loading').addClass('scale-in');
			},
			success: function(data) {
				if (data.status == "0") {				
					M.toast({html:data.message});
					$('#ajax_loading').removeClass('scale-in');	
				}
				if (data.status == "1") {
					$('#user_id').attr('disabled','disabled');
					$('#user_password').attr('disabled','disabled');
					$('#btnLogin').addClass('disabled');
					window.location = redirect;		
				}
				if (data.status == "2") {
					M.toast({html:data.message});
					$('#ajax_loading').removeClass('scale-in');
					$('#dformLogin').removeClass('scale-in');
					$('#dformLogin').hide();					
				}
			},
			complete: function() {
				$('#ajax_loading').removeClass('scale-in');
			},
			error: function (jqXHR, textStatus, errorThrown) {
				var lastRefreshed = new Date();
				var str = lastRefreshed.toString() +"\n\n"+errorThrown;
				$('.ajax_loading').hide();
				$('#validation-error').html(str);
			}
		});
		return false;
	});
</script>